<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qs.pda5502demo"
    android:versionCode="1"
    android:versionName="1.13" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 登录界面 -->
        <activity
            android:name="com.qs.qs5502demo.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="登录" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 服务器配置界面 -->
        <activity
            android:name="com.qs.qs5502demo.ServerConfigActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="服务器配置" />
        
        <!-- 主界面 -->
        <activity
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:name="com.qs.qs5502demo.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name" />
        
        <!-- 入库模块 -->
        <activity
            android:name="com.qs.qs5502demo.inbound.InboundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity
            android:name="com.qs.qs5502demo.inbound.BindValveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- 送检模块 -->
        <activity
            android:name="com.qs.qs5502demo.send.SendInspectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity
            android:name="com.qs.qs5502demo.send.SelectValveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- 回库模块 -->
        <activity
            android:name="com.qs.qs5502demo.returnwarehouse.ReturnWarehouseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- 出库模块 -->
        <activity
            android:name="com.qs.qs5502demo.outbound.OutboundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- 任务管理模块 -->
        <activity
            android:name="com.qs.qs5502demo.task.TaskManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
        

</manifest>
